<a href="https://colab.research.google.com/github/TWHessNM/stamp-prices/blob/main/stamp_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Plot US Stamp Prices Over Time

In [1]:
#Import the libraries that we need
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# pd.read_csv will turn a csv file into a pandas dataframe.
stamp_prices = pd.read_csv ('https://vincentarelbundock.github.io/Rdatasets/csv/Stat2Data/USstamps.csv')
#type () will return the type of an object
type (stamp_prices)

pandas.core.frame.DataFrame

In [3]:
# head () will return the column names and the first few rows from the data frame
stamp_prices.head()

   Unnamed: 0  Year  Price
0           1  1885      2
1           2  1917      3
2           3  1919      2
3           4  1932      3
4           5  1958      4

In [5]:
# Plot the year vs the price

# First set a plot title

plt.title('Stamp Prices Over Time in the US')

# Set the columns to plot
plt.scatter(stamp_prices['Year'], stamp_prices['Price'])

NameError: ignored